:root {
  --triple-word: #84828f;
  --double-letter: #536271;
  --triple-letter: #3e4c5e;
  --double-word: #2c3d55;
  --font-size: 14px;
  --width: 35px;
  --height: 35px;
}
body {
  background-color: #2c3d55;
}
